[submodule "src/github.com/pivotal-cf-experimental/concourse-service-adapter"]
	path = src/github.com/pivotal-cf-experimental/concourse-service-adapter
	url = git@github.com:pivotal-cf-experimental/concourse-service-adapter.git
